@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
body {
  background-color: #2E294E;
  font-family: 'Acme', sans-serif;
}
h1 {
  color:#C5D86D;
}
h2 {
  color: #63e892;
}
h3 {
  color: white;
}
h6 {
  color: #FC7753;
}
.header {
  color: #C5D86D;
}
.header .title i {
  font-size: 68px;
}
.header .title h1 {
  text-shadow: 4px 4px 8px 8px black;
}
.menu-mode, .menu-theme, .game-solo {
  margin-top: 10vh;
}
.menu-mode button{
  margin-top: 20px;
  width: 180px;
}
.menu-theme button{
  margin-top: 20px;
  width: 180px;
}
.game-solo .pseudo-input {
  margin-top: 30px;
}
.react {
  margin-top: 100px;
}
#option {
  font-size: 24px;
}
footer small {
  color:#FC7753;
}
.list p{
  color: #FC7753;
  font-size: 14px;
}
/*Game part*/
.game-title {
  color: #FC7753;
}
.ask {
  margin-top: 30px;
  color: #FC7753;
}
.responder {
  color: #63e892;
}

.modal-content {
  border-radius: 25px !important;
  background: transparent;
}
.modal-header, .modal-body, .modal-footer {
  background-color: #2E294E;
  color:#C5D86D;
}
.modal-header {
  border-bottom: 0px;
}
.modal-footer {
  border-top: 0px;
}
.close {
  background-color: #C5D86D;
}
